.sales {
  padding-top: 4px !important;
  border-radius: 10px !important;
  margin-bottom: 10px;
}

.refDiv {
  display: flex;
  gap: 0px;
  flex-direction: column;
  margin-top: -10px;
}
.typeDiv {
  margin-right: -10px;
  display: flex;
  flex-direction: column;
  gap: 70px!important;
  padding-top: 0px;
  justify-content: left;
  align-items: center;

}

.type-simba {
  width: 100px;
  background-color:#fdf7e43a;
  height: 38px;

  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  font-size: 16px;
  font-weight: bold;
  
  padding-bottom: 1px;
backdrop-filter: blur(10px);
border: 1.5px solid rgba(254, 254, 254, 0.152);

  
}


.depo{
  width: 120px;
  height: 45px;
    font-family: "Bai Jamjuree", sans-serif;

    font-weight: 600;

    background: linear-gradient(to right, #ff512f, #f09819);

    border-radius: 30px;

    color: aliceblue;
    font-size: 15px;


    margin-bottom: -10px;

    


}



.depo:hover {
  background: linear-gradient(to left, #ff512f, #f09819);
  
  
  cursor: pointer;
}

.type-debit {
  width: 80px;
  background-color: #e5bfbf;
  height: 30px;

  margin-bottom: 0px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -9px;
}

.type-debit p {
  color: red;
}

.type-simba p {
  color:#fdbc7c;
}

.transaction {
  margin-bottom: 10px;
}

#reference {
  margin-bottom: -5px;
  margin-top: 30px;
}

#transactionAmount {
  font-size: 16px;
}

.recent-updates {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (min-width: 768px) {
  .bon {
    text-align: center;
  }
}

.message {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


















