@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Signika+Negative:wght@300;400;500;600;700&display=swap");
/* -------------- PRE-LOADER STYLES ------------- */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
  background: linear-gradient(to right, #ff512f, #f09819);
  border-radius: 5px;
  -webkit-animation: load 1.8s ease-in-out infinite;
  animation: load 1.8s ease-in-out infinite;
}

.loader:before,
.loader:after {
  position: absolute;
  display: block;
  content: "";
  -webkit-animation: load 1.8s ease-in-out infinite;
  animation: load 1.8s ease-in-out infinite;
  height: 10px;
  border-radius: 5px;
}

.loader:before {
  top: -20px;
  left: 10px;
  width: 40px;
  background: linear-gradient(to left, #1845ad, #23a2f6);
}

.loader:after {
  bottom: -20px;
  width: 35px;
  background: #fcfcfa;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }

  50% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  100% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
}

@keyframes load {
  0% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }

  50% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  100% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
}

.get {
  margin-top: 350px !important;
}

/* PreLoader Styling Starts Here... */

.wrapper-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a4063 !important;
  z-index: 9999;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  /* Smooth fade transition */
}

.wrapper-loader.fade {
  opacity: 0;
  pointer-events: none;
  /* Disable interaction with the loader */
}

.get {
  color: #f7f1ec;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  opacity: 0.8;
}

/* -------------- ROOT VARAIBLES ------------- */

body {
  -webkit-tap-highlight-color: transparent !important;
}

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-kes: #fdbc7c;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --color-welcome: #111e88;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.ilog {
  color: var(--color-info-dark);
}
.log {
  color: var(--color-primary);
}

.money-kes {
  font-size: small;
  color: var(--color-kes);
  font-weight: 700;
  padding-top: 11px;
}

.fa-coins {
  color: var(--color-kes);
  font-size: 16px;
  padding-top: 3px;
}

/* -------------- DARK THEME VARAIBLES ------------- */
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);

  --color-welcome: #db9249;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

body {
  -webkit-tap-highlight-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #88888800;
}

::-webkit-scrollbar-track {
  background: #fefdfd03;
}

::-webkit-scrollbar {
  width: 0px;
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 20px !important;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
  font-weight: 500;
}

p {
  color: var(--color-dark-variant);
  font-weight: 500;
}

b {
  color: var(--color-dark);
}
.message .text-muted {
  color: var(--color-primary);
  opacity: 0.6;
}

.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.warning {
  color: var(--color-warning);
}

aside {
  height: 100vh;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  gap: 0.8rem;
}

aside .logo img {
  width: 2rem;
  height: 2rem;
}

aside .close {
  display: none;
}

/* ================== SIDEBAR ==================== */
aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 500;
  font-size: 15px;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-radius: 3px;
  overflow: hidden;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before {
  content: "";
  width: 8px;
  height: 100%;
  background: var(--color-primary);
  border-radius: 2px;
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

.hinfo h3 {
  font-size: 17px !important;
  font-weight: 600;
}

.hinfo h4 {
  font-size: 16px !important;
  padding-top: 7px;
  font-weight: 500;
}

.hinfo {
  display: flex;

  flex-direction: column;
  margin-bottom: 20px;
  flex-wrap: wrap;
  padding-left: 20px !important;
}

.hinfo {
  margin-bottom: 20px;
  
  border-radius: 10px;
  box-shadow: 4px 4px 9px rgba(1, 12, 37, 0.2),
    -4px -4px 8px rgba(255, 255, 255, 0.1);
  padding: 10px 40px 30px 30px !important;
  margin-top: 20px;
}

/* ================== MAIN ==================== */
main {
  margin-top: 1.4rem;
}

@media (min-width: 768px) {
  main {
    margin-bottom: 450px;
  }
}

main .welcome {
  display: inline-block;
  background: var(--color-light);
  border-radius: var(--border-radius-1);
  margin-top: 2rem;
  padding: 0.5rem 1.6rem;
  font-weight: 700;
  color: var(--color-welcome);
  font-size: 14px;
  margin-bottom: 1rem;
  position: relative;
}

.welcome::before {
  content: "+"; /* Required for pseudo-elements */
  display: inline-block;
  width: 6px;
  height: 6px;
  color: lightgreen; /* Light green color for the dot */
 
  position: absolute;
  top: 2px; /* Position at the vertical center of .welcome */
  left: 7px; /* Adjust the distance from the left edge */
  transform: translateY(50%); /* Center the dot vertically */
  animation: blink ease-in-out 2s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1; /* Fully visible dot */
  }
  50% {
    opacity: 0; /* Invisible dot */
  }
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .insights > div:hover {
  box-shadow: none;
  cursor: pointer;
}

main .insights > div span {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .insights > div.expenses span {
  background: var(--color-danger);
}

main .insights > div.income span {
  background: var(--color-success);
}

main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

main .insights .progress {
  position: relative;
  width: 82px;
  height: 82px;
  border-radius: 42px;
  transform: rotate(-90deg);
}

main .insights .progress svg {
  width: 7rem;
  height: 7rem;
  overflow: visible;
}

main .insights .progress circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
}

main .insights .progress .circle-bg {
  stroke: var(--color-light);
  stroke-dasharray: 226.195;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s ease;
}

main .insights .sales .circle-progress {
  stroke-dasharray: 226.195;
  stroke-dashoffset: calc(226.195 - (226.195 * var(--weekly-percent)));
  transition: stroke-dashoffset 1.3s ease;
}

main .insights .expenses svg circle {
  stroke-dasharray: 226.195;
  stroke-dashoffset: calc(226.195 - (226.195 * var(--weekly-revenue-percent)));
  transition: stroke-dashoffset 1.3s ease;
}

main .insights .income svg circle {
  stroke-dasharray: 226.195;
  stroke-dashoffset: calc(226.195 - (226.195 * var(--income-percent)));
  transition: stroke-dashoffset 0.3s ease;
}

main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark-variant);
  font-weight: 700;
  font-size: 14px;

  padding-top: 2px;

  transform: rotate(90deg);
}

main .insights small {
  margin-top: 1.3rem;
  display: block;
}

/* ================ RECENT ORDERS ================ */
main .recent-orders {
  margin-top: 2rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);

  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .recent-orders table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table thead th {
  font-size: 15px !important;
  padding-bottom: 5px;
}

main table tbody tr:last-child td {
  border: none;
}

main .recent-orders a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

/* ================= RIGHT ================ */
.right {
  margin-top: 1.4rem;
}

.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right .top button {
  display: none;
}

.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.2rem;
  width: 4.4rem;
  cursor: pointer;
  border-radius: 8px;
}

.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: 10px;
}

.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}

/* ================= RECENT UPDATES ================ */
.right .recent-updates {
  margin-top: 1rem;
}

.right .recent-updates h2 {
  margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
  box-shadow: none;
}

.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1.3rem;
}

.item {
  cursor: pointer;
}
/* ================= SALES ANALYTICS ================ */
.right .sales-analytics {
  margin-top: 2rem;
}

.right .sales-analytics h2 {
  margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
  background: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
  box-shadow: none;
}

.right .sales-analytics .item .right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  width: 100%;
}

.right .sales-analytics .item .icon {
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
}

.right .sales-analytics .item.offline .icon {
  background: var(--color-danger);
}

.right .sales-analytics .item.customers .icon {
  background: var(--color-success);
}

.right .sales-analytics .add-product {
  background-color: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  color: white;
}

.right .sales-analytics .add-product:hover {
  background: var(--color-primary);
  color: white;
}

.right .sales-analytics .add-product div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.right .sales-analytics .add-product div h3 {
  font-weight: 600;
}

/* ================= MEDIA QUERIES ================ */
/* ================= MEDIA QUERIES ================ */
@media screen and (min-width: 768px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside .sidebar {
    background-color: var(--color-white);
    height: 900px;
    padding-top: 50px;
    border-radius: 10px;
    display: flex;
    gap: 20px;

    padding-left: 10px;
    margin-top: -30px;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 10rem;
  }

  main .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }

  main .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .recent-orders table {
    width: 83vw;
  }
}

/* ================= MEDIA QUERIES ================ */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }

  aside .close {
    display: inline-block;
    cursor: pointer;
    width: 35px;
    height: 34px;
    background-color: var(--color-info-light);
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
    color: var(--color-primary-variant);
    margin-top: -17px;
    font-weight: 700;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .insights > div {
    width: 100%;
  }

  main .insights {
    gap: 0;
  }

  main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .recent-orders table {
    width: 100%;
    margin: 0;
  }

  main .recent-orders table td:last-child {
    display: none;
  }

  main .recent-orders table th:last-child {
    display: none;
  }

  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .right .profile .info {
    display: none;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }

  .right .top button span {
    font-size: 2rem;
  }
}

.item :hover {
  cursor: pointer;
}

#menu-btn {
  margin-left: 10px;
}

/* Styles for the pop-up dialog */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: rgba(
    255,
    255,
    255,
    0.15
  ); /* Semi-transparent background color */
  backdrop-filter: blur(10px); /* Apply background blur */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 100px;
}

#photo {
  background-color: transparent;
  color: transparent;
}

.okbtn {
  display: none;
}

/* Rest of your styles */
.profile-photo {
  cursor: pointer;
}

#upload {
  margin-top: 20px;
  margin-left: 450px;
}

/* Alert styling */
.alert {
  background: #ffdb9b;
  padding: 20px 40px;
  min-width: 100px;
  position: fixed; /* Change from absolute to fixed */
  right: 0;
  top: 10%;
  border-radius: 4px;
  border-left: 8px solid #ffa502;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  font-family: "Bai Jamjuree", sans-serif !important;
  font-size: 12px !important;
}

.alert.showAlert {
  visibility: visible;
  pointer-events: auto;
}

/* Rest of your styles remain the same */

.alert.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-10%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}

.alert.hide {
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-10%);
    opacity: 0;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.alert .fa-exclamation-circle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}

.alert .msg {
  padding: 0 20px;
  font-size: 12px;
  color: #ce8500;
  font-weight: 600;
}

.alert .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffd080;
  padding: 20px 18px;
  cursor: pointer;
}

.alert .close-btn:hover {
  background: #ffc766;
}

.alert .close-btn .fas {
  color: #ce8500;
  font-size: 22px;
  line-height: 40px;
}

.title {
  color: var(--color-primary);
  padding: 10px;
  background-color: var(--color-light);
}

@media (min-width: 768px) {
  .showall {
    margin-left: -20% !important;
  }

  #logout {
    margin-bottom: -400px !important;
    color: rgb(247, 147, 147);
  }

  .stat {
    padding-right: 20px;
    padding-left: 0px;
  }

  .stat-am {
    padding-right: 20px;
  }
}
.inputter{
  padding: 12px;
  border-radius: 10px;
  margin-top: 8px;
  background-color: var(--color-background);
  border: 2px solid rgb(181, 181, 252);
  color: var(--color-dark);
}


.req:hover {
  background-image: linear-gradient(to left, rgb(100, 100, 245), rgb(238, 79, 238));
  cursor: pointer;
}


.with{
  width: 100px;


  border-radius: 50px;
  opacity: 0.6;
  
}




.tick{
  width: 100px;
  margin-top: -80px;
}

.ticker{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 10px;

}

.ticker-p{
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 300px!important;
}



.popUp {
  background-color: rgba(253, 166, 166, 0.527)!important;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  color: rgb(243, 68, 68);
  text-align: center;
  transition: transform 0.4s, top 0.4s;
  visibility: hidden;
  backdrop-filter: blur(4px); /* Apply backdrop filter for glassmorphism */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  z-index: 10000;
  width: 90%!important;

   border: 3px solid var(--color-danger);
 

  
  
}


#success-Popup{
  background-color: rgba(118, 167, 118, 0.357)!important; 

   border: 3px solid var(--color-success);

    backdrop-filter: blur(5px)!important;
}

#success-Popup .tick{
  margin-top: -80px;
}

.popUp p {
  font-size: 15px;
  width: 300px;
  display: inline;
  color: var(--color-dark);
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

/* Apply the shake animation to the success pop-up */
#error-Popup.open-popup {
  animation: shake 0.5s ease-in-out 1;
  animation-delay: 0.4s;
}

/* Define a more realistic shake animation */
@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%) translateX(-5%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-50%, -50%) translateX(5%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-50%, -50%) translateX(-5%);
  }
}

.tick {
  width: 100px;
  margin-top: -50px;
  box-shadow: 0 2px 5px rgba(5, 5, 5, 0.1);
  border-radius: 50%;
  display: inline;
}

.pop-up-button {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
  border: 0;
  outline: none;
  margin-top: 30px;
  display: inline;
  width: 200px;
  border-radius: 10px;
  background-color: rgba(75, 223, 75, 0.997);
  font-family: "Bai Jamjuree", sans-serif;
  color: #fefafae8;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(5, 5, 5, 0.1);
}

@media (min-width: 768px) {
  .popUp {
    width: 300px;
  }
}

.uph3 {
  color: #111e88;
}

@media (min-width: 768px) {
  #error-Popup {
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: 400px;
  }
}